pip install WordCloud

pip install spacy

pip install xgboost


pip install joblib


pip install tweepy


pip install textract

pip install pytesseract


pip install -U textblob

pip install keras==2.0.9


pip install autocorrect wordcloud contractions

pip install textract


https://textract.readthedocs.io/en/latest/installation.html
